<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="http://github.com/grandtheft-spaceship">Justin (Rook) Dizon</a> An aspiring web developer who is currently learning how to code through the <a target="_blank" href="http://www.thefirehoseproject.com">The Firehose Project</a>
	</p>
	<br />
	<p>
		Splurty is a random quote generator centered on providing people the best lines written by lyrical masters of both the past and present.
	</p>
	<p>
		If you want to learn how to code - go <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'lego_trooper.jpg', :class => 'img-responsive' %>
	</div>
	<br />
	<p>
		With interests in a wide variety of subjects - ranging from art to space exploration - Justin's mind is a more complex maze than Pan's Labyrinth. He once heard the saying, "Learn something new everyday," and from that day forward, he made it his personal mantra. When becoming a professional basketball player didn't work out for him, Justin delved deep within his soul and realized his true life's passion: art. During his first semester taking art classes at his local community college, a classmate introduced him into the world of coding and web development. Doing further research, Justin discovered a way he could connect the two and transform them into a career he would love. He believes that art and code can work in conjunction and can use both skills to help people better their everyday lives. 
	</p>
</div>

<br class="clear" />
<br />
<br />
<br />